.body_background 
{
    background-image:url('backg.jpg');
    background-position:center;
    background-size:cover;
    background-repeat:repeat;
    font-size: 30px;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h3
{
	width: 600px;
	background-color: rgb(167, 249, 240);
	display: inline-block;
    font-family:Georgia,serif;
    color:rgb(139, 41, 231);
}

